@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: rgb(6, 92, 120);
    min-height: 70px;
}

header h1 {
    color: white;
    font-size: 20pt;
    font-weight: 400;
    padding: 12px 0 0 10px;
}

.container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 210, 210);
}

.main-label {
    display: block;
    padding: 10px 0px;
    font-size: 14pt;
    font-weight: 500;
    color: rgb(6, 92, 120);
}

.main-input {
    display: block;
    width: 97%;
    height: 2rem;
    font-size: 12pt;
    border-radius: 5px;
    padding-left: 7px;
    /* margin-left: 0.5rem; */
    border-color: rgb(6, 92, 120);
    color:  rgb(6, 92, 120);
}

.extras-label {
    /* margin-left: 0.5rem; */
    font-size: 11pt;
    color: teal;
}

p {
    margin: 2rem 0 1rem 0.7rem;
    font-size: 11pt;
    color:  red;
}

button {
    width: 100%;
    height: 3rem;
    text-align: center;
    border-radius: 5px;
    font-size: 12pt;
    /* margin-left: 0.5rem; */
    margin-top: 1rem;
    color: white;
    background-color: rgb(6, 92, 120);
}
