@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: rgb(6, 92, 120);
    min-height: 70px;
}

header h1 {
    color: white;
    font-size: 20pt;
    font-weight: 400;
    padding: 12px 0 0 30px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-top: 5rem;
}

.items a {
    display: block;
    text-decoration: none;
    color: black;
    width: 8rem;
    height: 2rem;
    justify-content: center;
    text-align: center;
    padding-top: 0.2rem;
    border-radius: 3px;
}

.items a:hover {
    color: white;
    background-color: rgb(4, 86, 106);
}
